<div style="display: flex; align-items: center; justify-content: space-between; position: relative; height: 56px;">
  
  <button mat-icon-button class="back-button" (click)="goBack()" aria-label="Go Back">
    <mat-icon style="color: white;">arrow_back</mat-icon>
  </button>
  
  <span style="position: absolute; left: 50%; transform: translateX(-50%); font-size: 28px; color: white; font-weight: bolder;">
    My Watchlist
  </span>
  
  <div style="width: 40px;"></div>
</div>

<div class="watchlist-container" *ngIf="watchlist.length > 0; else emptyState">

  <h2>My Watchlist</h2>

  <div class="movie-grid">
    <a *ngFor="let movie of watchlist" [routerLink]="['/movie', movie.id]" class="movie-link">
      <mat-card class="movie-card mat-elevation-z3">
        <button mat-icon-button class="remove-button"
          (click)="removeFromWatchlist(movie.id); $event.preventDefault(); $event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>

        <img mat-card-image [src]="movie.poster_path
      ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path
      : '/assets/fallback-poster.jpeg'" alt="Poster for {{ movie.title || movie.name }}" />

        <mat-card-title class="movie-title" [attr.data-full-title]="movie.title || movie.name">
          {{ movie.title || movie.name }}
        </mat-card-title>

        <mat-card-subtitle style="color:azure" *ngIf="movie.release_date">
          Release: {{ movie.release_date | date: 'yyyy' }}
        </mat-card-subtitle>

        <mat-card-content>
          ⭐ {{ movie.vote_average || 'N/A' }}
        </mat-card-content>
      </mat-card>


    </a>
  </div>
</div>

<ng-template #emptyState>
  <div class="empty-watchlist">
    <h2>Your watchlist is empty</h2>
    <p>Add movies to your watchlist to see them here!</p>
  </div>
</ng-template>