<div class="movie-detail-container" *ngIf="!loading && movie; else loadingTemplate">
  <mat-card class="movie-detail-card mat-elevation-z4">
    <div class="poster-section">
      <img
        [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path : '/assets/fallback-poster.jpeg'"
        alt="{{ movie.title }}"
      />
    </div>

    <div class="info-section">
      <h2>{{ movie.title }}</h2>
      <p class="tagline" *ngIf="movie.tagline">"{{ movie.tagline }}"</p>
      <p class="overview">{{ movie.overview }}</p>

      <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
      <p><strong>Rating:</strong> ⭐ {{ movie.vote_average }}</p>
      <p *ngIf="movie.runtime"><strong>Runtime:</strong> {{ movie.runtime }} mins</p>
      <p><strong>Genres:</strong> {{ genreList }}</p>

    </div>
  </mat-card>

  <div class="cast-section" *ngIf="cast && cast.length > 0">
  <h3>Cast</h3>
  <div class="cast-grid">
    <div class="cast-card" *ngFor="let actor of cast">
      <img
        [src]="actor.profile_path ? 'https://image.tmdb.org/t/p/w185' + actor.profile_path : '/assets/fallback-poster.jpeg'"
        alt="{{ actor.name }}"
      />
      <div class="actor-info">
        <p class="actor-name">{{ actor.name }}</p>
        <p class="character-name">as {{ actor.character }}</p>
      </div>
    </div>
  </div>
</div>

</div>

<ng-template #loadingTemplate>
  <div class="loading-spinner">
    <mat-progress-spinner mode="indeterminate" diameter="60" strokeWidth="5" color="primary">
    </mat-progress-spinner>
  </div>
</ng-template>
